*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

.fraseAPI{
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    background: #F3F3F3;
    color: #676767;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
}

input::placeholder{
    color: #676767;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
}

.tituloLivro{
    color: #5055D4;
    text-align: center;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 111.1%; /* 11.11px */
}

.boxLivros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.boxConteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}