<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>{{telaConfig.titulo}}</title>
</head>
<body>
    

  <h1 class="fraseAPI">{{telaConfig.Frase}}</h1>
  <input type="text" placeholder="insira o nome do livro">

  {% if telaConfig.livros %}
        <div class="boxLivros">
        {% for livro in telaConfig.livros %}
        <div class="boxConteudo">
          <img src="{{ livro.imagen }}" alt="">
          <p class="tituloLivro">{{ livro.tituloLivro }}</p>
        </div>
        {% endfor %}
        </div>
  {% else %}
    <p>Nenhum livro disponível.</p>
  {% endif %}


</body>
</html>